h1 {
    padding: 10px;
    color: #c79db4;
    margin: 0;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    padding: 10px;
    color: #c79db4;
    margin: 0;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;  
}

.container {
    background-color: #C0C0C0;
}

